body {
    background-color: #848484;
    font-family: Arial, sans-serif;
    
}

button {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: aliceblue;
    width: 35px;
    height: 30px;

}
button[class="button operator"] {
    color: rgb(0, 0, 0);
    background-color: green;
    text-align: center;
}
